<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website created by me is experimental. It uses data from weatherstack and positionstack.</p>
            <img class= "portrait" src="/img/robot.png">
        </div>
        
        {{>footer}}
    </body>
</html>